header, footer, nav, article, section {display:block;}

#twitter-cta a,
#inputs,
#tweet-this,
div.select,
.select ol,
#search-results,
nav a,
#help {
	border-color: #444;
	border-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid;
}

#inputs {
	border-top: none;
}

#options>div .select,
#options>div>h3{
	display: inline;
}
