.container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 100fr;
	font-family: sans-serif;
	min-height: 100vh;
}

.title {
	font-size: 1rem;
	text-align: center;
}

.input {
	transition: margin 0.3s ease-in-out, font-size 0.3s ease-in-out;
	margin: 6rem auto;
	display: block;
	font-size: 3rem;
	padding: 0.3em;
	border: 1px solid #ccc;
	border-radius: 0.2em;
	max-width: 100%;
	box-sizing: border-box;
}

.chartVisible {
	margin: 2rem auto;
	font-size: 2rem;
}

.loader {
	display: block;
	margin: 3rem auto;
}

.loader div {
	margin: auto;
}

.noSuggestions {
	text-align: center;
}

.attribution {
	font-size: 0.8rem;
}
