body {
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 100fr auto;
	font-family: sans-serif;
	min-height: 100vh;
	box-sizing: border-box;
}

.title {
	font-size: 1rem;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
}

.input {
	transition: margin 0.3s ease-in-out, font-size 0.3s ease-in-out;
	margin: 6rem auto;
	display: block;
	font-size: 3rem;
	padding: 0.3em;
	border: 1px solid #ccc;
	border-radius: 0.2em;
	max-width: 100%;
	box-sizing: border-box;
	text-align: center;
	max-width: 90vw;
}

.inputContainer {
	grid-column-start: 1;
	grid-column-end: 3;
}

.chart {
	grid-column-start: 1;
	grid-column-end: 3;
}

.chartVisible {
	margin: 2rem auto;
	font-size: 2rem;
}

.loader {
	display: block;
	margin: 3rem auto;
}

.loader div {
	margin: auto;
}

.attribution {
	font-size: 0.7rem;
	margin: 0 10px;
	align-self: center;
}

.attribution p {
}

.options {
	justify-self: end;
	align-self: end;
}

.locationSelector {
	align-self: end;
}
